
.App{
  
  color:#062c43;
  text-align: center;
  margin-top: 5%;
}

.spaces-view{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 45px;
    color: #062c43;
}

.spaces-card {
  padding-left: 40px;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 5px;
  margin-top: 35px;
  transition: 0.3s;
}

.spaces-card .MuiTypography-body2{
  margin-top: 15px;
 color:  #5d6475;
 ;
}
.spaces-card .MuiTypography-h4{
  color: #054569;
 }
 .spaces-card .MuiTypography-h5{
  margin-top: 15px;
  color: #5d6475;
  ;
 }

button{
  margin-bottom: 2.5%;
  border-radius: 6px;
  background-color : white;
  width: 50px;
}

button:hover {
  background-color:#9ccddc;
  
}
 



